<!doctype html>
<html>
<head>
  <link href="/stylesheets/application.css" type="text/css" rel="stylesheet" media="all" />
  <title>Card-o-matic</title>
</head>
<body>
  <header>
    <h1>Card-o-matic</h1>
  </header>

  <% if @intro %>
  <p class="intro">
    Generate printable story cards for your Pivotal Tracker project.
  </p>
  <% end %>

  <div id="main">
    <% if @error %>
      <div class="error"><%= @error %></div>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <p><a href="https://github.com/JordanHatch/card-o-matic">Source code</a></p>
  </footer>
</body>
</html>
