<p>Enter your Pivotal API key:</p>

<form action="/projects" method="post">
  <p><input type="text" name="api_key" /></p>

  <p class="hint">You can find your API key at the bottom of the <a href="https://www.pivotaltracker.com/profile">profile page</a>.

  <p><button type="submit">Next</button></p>
</form>
